<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль тренируемого</title>
</head>
<body>
    <div class="profile">
        <div class="profile-picture">
            <img src="https://yurkas.ru/upload/Sh/imageCache/153/946/9467644104719508.png" alt="User Picture">
        </div>
        <div class="profile-info">
            <h2>Имя пользователя: {{ userData.firstname }}</h2>
            <p>Возраст: <span id="age">{{ userData.age }}</span></p>
            <p>Рост: <span id="height">{{ userData.height }}</span></p>
            <p>Вес: <span id="weight">{{ userData.weight }}</span></p>
        </div>
    </div>
</body>
</html>
