.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info {
    text-align: center;
}

.profile-info h2 {
    margin-bottom: 10px;
}

.profile-info p {
    margin: 5px;
}
