.settings {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settings h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #f7f21a;
    background: linear-gradient(241deg,#f7f21a 0%, #767204 80%);
    background: -webkit-linear-gradient(241deg,#f7f21a 0%, #767204 80%);
    background: -moz-linear-gradient(241deg,#f7f21a 0%, #767204 80%);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.texting {
    color: black
}
