
  <header>
    <button class="trenerby-btn" (click)="redirectToHome()">TrenerBy</button>
    <div class="auth-buttons" *ngIf="!isLoggedIn">
      <button (click)="redirectTo('tolog/role')">Войти</button>
      <button (click)="redirectTo('register/role')">Зарегистрироваться</button>
    </div>
    <div class="auth-buttons" *ngIf="isLoggedIn">
    <button (click)="redirectTo('accountrainee/profileTrainee')">Профиль</button>
    <button (click)="redirectTo('accountrainee/dietrainee')">Питание</button> 
    <button (click)="redirectTo(getMyPageRoute())">Мой тренер</button>
    <button (click)="redirectTo(getMyPageRoute())">Фитнесс</button> <!-- Для всяких видюшек с бабами и трясущими жопы мужиками(медитации, тренировки для похудения, наращивание массы) -->
    <button (click)="redirectTo(getMyPageRoute())">Статистика</button> 
    <button (click)="redirectTo('accountrainee/settingsTrainee')">Настройки</button>
    <button (click)="logout()">Выйти</button>
    </div>
  </header>
  <body class="trener">
    <router-outlet></router-outlet>
  </body>
  <footer>
    &copy; 2024 TrenerBy.BelovProdakshen. Все права защищены.
  </footer>

