<html>
  <header>
    <h1 class="trenerby-btn" (click)="redirectToHome()">TB</h1>
    <div class="auth-buttons" *ngIf="!isLoggedIn">
      <button class="route-buttons" (click)="redirectTo('tolog/role')">Войти</button>
      <button class="route-buttons" (click)="redirectTo('register/role')">Зарегистрироваться</button>
    </div>
    <div class="auth-buttons" *ngIf="isLoggedIn">
    <button class="route-buttons" (click)="redirectTo('accountrainee/profileTrainee')">Профиль</button>
    <button class="route-buttons" (click)="redirectTo('accountrainee/dietrainee')">Питание и активность</button> 
    <button class="route-buttons" (click)="redirectTo(getMyPageRoute())">Мой тренер</button>
    <button class="route-buttons" (click)="redirectTo('accountrainee/fitnessTrainee')">Фитнесс</button>
    <button class="route-buttons" (click)="redirectTo('accountrainee/statisticTrainee')">Статистика</button> 
    <button class="route-buttons" (click)="redirectTo('accountrainee/settingsTrainee')">Настройки</button>
    <button class="route-buttons" (click)="logout()">Выйти</button>
    </div>
  </header>
  <body class="trener">
    <router-outlet></router-outlet>
  </body>
  <footer>
    &copy; 2024 TrenerBy.BelovProdakshen. Все права защищены.
  </footer>
</html>

